<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="MageSuite\ContentConstructorAdminCommerce\Block\Adminhtml\ContentConstructor\DynamicBlock" type="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Constructor">
        <arguments>
            <argument name="configurationProvider" xsi:type="object">MageSuite\ContentConstructorAdminCommerce\Model\ConfigurationProvider\DynamicBlock</argument>
        </arguments>
    </virtualType>
</config>
