<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Banner\Model\ResourceModel\Banner">
        <plugin name="dynamic_block_render_content_constructor_components" type="MageSuite\ContentConstructorAdminCommerce\Plugin\Banner\Model\ResourceModel\Banner\RenderContentConstructorComponents" />
    </type>

    <type name="Magento\Banner\Controller\Ajax\Load">
        <plugin name="add_product_tile_handler" type="MageSuite\ContentConstructorAdminCommerce\Plugin\Banner\Controller\Ajax\Load\AddProductTileHandler" sortOrder="10" />
    </type>

</config>
