<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CmsStaging\Controller\Adminhtml\Page\Update\Save">
        <plugin name="inject_components_into_layout_update"
                type="MageSuite\ContentConstructorAdminCommerce\Plugin\CmsStaging\Adminhtml\Page\Update\SaveComponents" />
    </type>

    <type name="Magento\CmsStaging\Controller\Adminhtml\Block\Update\Save">
        <plugin name="inject_components_into_layout_update"
                type="MageSuite\ContentConstructorAdminCommerce\Plugin\CmsStaging\Adminhtml\Block\Update\SaveComponents" />
    </type>

    <type name="Magento\CatalogStaging\Controller\Adminhtml\Category\Update\Save">
        <plugin name="inject_components_into_layout_update"
                type="MageSuite\ContentConstructorAdminCommerce\Plugin\CatalogStaging\Controller\Adminhtml\Category\Update\Save\SaveComponents" />
    </type>

    <type name="Magento\CatalogStaging\Controller\Adminhtml\Product\Save">
        <plugin name="inject_components_into_layout_update"
                type="MageSuite\ContentConstructorAdminCommerce\Plugin\CatalogStaging\Controller\Adminhtml\Product\Save\SaveComponents" />
    </type>

    <type name="Magento\Banner\Model\Banner">
        <plugin name="add_content_constructor_on_dynamic_block_save"
                type="MageSuite\ContentConstructorAdminCommerce\Plugin\Banner\Model\Banner\AddContentConstructorOnDynamicBlockSave" />
    </type>

    <type name="Magento\Framework\Data\Form\Element\Editor">
        <plugin name="add_attribute_to_make_vue_ignore_wysiwyg_content"
                type="MageSuite\ContentConstructorAdminCommerce\Plugin\Framework\Data\Form\Element\AddAttributeToMakeVueIgnoreWysiwygContent" />
    </type>

    <virtualType name="MageSuite\ContentConstructorAdminCommerce\Block\Adminhtml\ContentConstructor\CategoryStaging" type="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Constructor">
        <arguments>
            <argument name="configurationProvider" xsi:type="object">MageSuite\ContentConstructorAdminCommerce\Model\ConfigurationProvider\CategoryStaging</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageSuite\ContentConstructorAdminCommerce\Block\Adminhtml\ContentConstructor\ProductStaging" type="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Constructor">
        <arguments>
            <argument name="configurationProvider" xsi:type="object">MageSuite\ContentConstructorAdminCommerce\Model\ConfigurationProvider\ProductStaging</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageSuite\ContentConstructorAdminCommerce\Block\Adminhtml\ContentConstructor\CmsPageStaging" type="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Constructor">
        <arguments>
            <argument name="configurationProvider" xsi:type="object">MageSuite\ContentConstructorAdminCommerce\Model\ConfigurationProvider\CmsPageStaging</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageSuite\ContentConstructorAdminCommerce\Block\Adminhtml\ContentConstructor\CmsBlockStaging" type="MageSuite\ContentConstructorAdmin\Block\Adminhtml\ContentConstructor\Constructor">
        <arguments>
            <argument name="configurationProvider" xsi:type="object">MageSuite\ContentConstructorAdminCommerce\Model\ConfigurationProvider\CmsBlockStaging</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogStaging\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="content_constructor_content" xsi:type="array">
                    <item name="class" xsi:type="string">MageSuite\ContentConstructorAdminCommerce\Ui\DataProvider\Product\Form\Modifier\ContentConstructorContent</item>
                    <item name="sortOrder" xsi:type="number">25</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
